/* Setting primary colours */
:root {
  --back-color: #DDDCA6;
  --primary-color: #63183C;
  --header-back: #ADBD89;
  --header-text: #291420;
  --bs-info: #4f5b33;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

/* Formatting header and footer */
header,
footer {
  background-color: var(--header-back);
  color: var(--header-text);
}

footer i {
  color: var(--header-text);
}

/* Formatting game pages (challenge, practice) */

#game-grid,
.stopwatch-container {
  background-color: #FFF;
  color: var(--primary-color);
}

.card {
  background-color: #EAC7AE;
  color: var(--primary-color);
}

.card:hover {
  background-color: #eac7ae65;
}

.input-cell {
  background-color: var(--header-back);
  color: var(--primary-color);
}

.table {
  --bs-table-bg: var(--back-color);
  --bs-table-active-color:  var( --header-text);
  --bs-table-active-bg: var(--header-bg);
  --bs-table-hover-color: var( --header-text);
  --bs-table-hover-bg: var(--header-bg);
  color: var(--primary-color);
  border-color: #dee2e6;
}

#level-select {
  background-color: #fff;
  color: var(--primary-color);
}

/* Pause module formatting */
.modal-header,
.modal-footer {
  background-color: var(--header-back);
  color: var(--header-text);
}

.modal-body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

/* Formatting contact page */

#contact-wrapper {
  border: 5px solid #63183C;
}

.form-control {
  background-color: #FFF;
  color: #4f6073;
}

.btn-info {
  color: #DDDCA6;
  background-color: #4F5B33;
  border-color: #291420;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  color: #dddca6;
  background-color: #4f5b33;
  border-color: #291420;
  box-shadow: unset;
}

.btn-info:hover {
  border-width: 2px;
}

/* Formatting error page */

.btn-link {
  color: #63183C;       
}

.btn-link:hover {
  color: #60848b;
}