/* Setting primary colours */
:root {
  --back-color: #DDDCA6;
  --primary-color: #63183C;
  --header-back: #ADBD89;
  --header-text: #291420;
  --bs-info: #4f5b33;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

/* Formatting header and footer */
header,
footer {
  background-color: var(--header-back);
  color: var(--header-text);
}

footer i {
  color: var(--header-text);
}

/* Formatting game page */

#game-grid {
  background-color: mintcream;
  color: #0e151f;
}

.card {
  background-color: #EAC7AE;
  color: #63183C;
}

/* Formatting contact page */

#contact-wrapper {
  border: 5px solid #63183C;
}

.form-control {
  background-color: #FFF;
  color: #4f6073;
}

.btn-info {
  color: #DDDCA6;
  background-color: #4F5B33;
  border-color: #291420;
}

.btn-info:hover,
.btn-info:focus {
  color: #dddca6;
  background-color: #4f5b33;
  border-color: #291420;
  box-shadow: unset;
}

/* Formatting error page */

.btn-link {
  color: #63183C;       
}

.btn-link:hover {
  color: #60848b;
}