/* Setting primary colours */
:root {
  --back-color: #DDDCA6;
  --primary-color: #63183C;
  --bs-primary: #63183C;
  --header-back: #ADBD89;
  --header-text: #291420;
  --bs-info: #EAC7AE;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

/* Formatting header and footer */
header,
footer,
.offcanvas-header {
  background-color: var(--header-back);
  color: var(--header-text);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: var(--primary-color);
  background-color: var(--header-back);
}

.navbar-light .navbar-nav .nav-link{
  color: var(--primary-color);
}

.offcanvas-body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

footer i {
  color: var(--header-text);
}

/* Formatting game pages (challenge, practice) */

#game-grid,
.stopwatch-container {
  background-color: #FFF;
  color: var(--primary-color);
}

.nav-button  {
  background-color: var(--bs-info);
  color: var(--primary-color);
}

.nav-button :hover {
  background-color: #eac7ae65;
}

.input-cell {
  background-color: var(--header-back);
  color: var(--primary-color);
}

#level-select {
  background-color: #fff;
  color: var(--primary-color);
}

/* Pause module formatting */
.modal-header,
.modal-footer {
  background-color: var(--header-back);
  color: var(--header-text);
}

.modal-body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

/* Formatting contact page */

#contact-wrapper {
  border: 5px solid;
}

.form-control {
  background-color: #FFF;
  color: var(--primary-color)
}

.form-select {
  border: var(--primary-color);
}

.btn-info {
  color: var(--back-color);
  background-color: #4F5B33;
  border-color: var(--header-text);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  color: var(--back-color);
  background-color: #4f5b33a6;
  border-color: var(--header-text);
  box-shadow: unset;
}

.btn-info:hover {
  border-width: 2px;
}

/* Formatting error page */

.btn-link {
  color: var(--primary-color);       
}

.btn-link:hover {
  color: #60848b;
}