/* Setting primary colours */
:root {
  --back-color: #4f6073;
  --primary-color: #eee;
  --bs-primary: #eee;
  --header-back: #a8c4c3;
  --header-text: #3d4b59;
  --bs-info: #60848b;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

/* Formatting header and footer */
header,
footer,
.offcanvas-header {
  background-color: var(--header-back);
  color: var(--header-text);
}


.navbar-light .navbar-nav .show>.nav-link {
  color: var(--primary-color);
  background-color: var(--header-back);
}

.navbar-light .navbar-nav .nav-link.active {
  text-decoration: underline;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link{
  color: var(--primary-color);
}

.nav-link {
  color: var(--primary-color);
}
.nav-link:hover {
  background-color: var(--bs-info);
}

.offcanvas-body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

footer i {
  color: var(--header-text);
}

/* Formatting game pages (challenge, practice) */

#game-grid,
.stopwatch-container {
  background-color: var(--primary-color);
  color: var(--header-text);
}

.nav-button  {
  background-color: var(--primary-color);
  color: var(--back-color);
}

.nav-button:hover {
  background-color: rgb(152, 152, 152);
}

.input-cell {
  background-color: var(--bs-info);
  color: var(--primary-color);
}

#level-select {
  background-color: var(--primary-color);
  color: var(--back-color);
}

/* Pause module formatting */
.modal-header,
.modal-footer {
  background-color: var(--header-back);
  color: var(--header-text);
}

.modal-body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

/* Formatting contact page */

.form-control {
  background-color: var(--primary-color);
  color: var(--back-color);
}

.btn-info,
.btn-info:focus,
.btn-info:active {
  color: var(--primary-color);
  background-color: var(--header-text);
  border-color: #50666a;
  box-shadow: unset;
}

.btn-info:hover {
  color: var(--header-text);
  background-color: var(--header-back);
  border-color: #4a6a70;
  box-shadow: unset;
}

/* Formatting error page */

.btn-link {
  color: var(--primary-color);
}

.btn-link:hover {
  color: #50666a;
}