/* Setting primary colours */
:root {
  --back-color: #4f6073;
  --primary-color: #eee;
  --header-back: #a8c4c3;
  --header-text: #0E151C;
  --b-info: #60848b;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

/* Formatting header and footer */
header,
footer {
  background-color: var(--header-back);
  color: var(--header-text);
}

footer i {
  color: var(--header-text);
}

/* Formatting game page */

#game-grid,
.stopwatch-container {
  background-color: #dee6e6;
  color: #0e151f;
}

.card {
  background-color: #ccc;
  color: var(--primary-color);
}

.input-cell {
  background-color: var(--header-back);
}

.table {
  --bs-table-bg: var(--back-color);
  --bs-table-active-color:  var( --header-text);
  --bs-table-active-bg: var(--header-bg);
  --bs-table-hover-color: var( --header-text);
  --bs-table-hover-bg: var(--header-bg);
  color: var(--primary-color);
  border-color: #dee2e6;
}

/* Formatting contact page */

#contact-wrapper {
  border: 5px solid #dee6e6;
}

.form-control {
  background-color: #dee6e6;
  color: #4f6073;
}

.btn-info {
  color: #dee6e6;
  background-color: #60848b;
  border-color: #50666a;
}

.btn-info:hover,
.btn-info:focus {
  color: #dee6e6;
  background-color: #60848b;
  border-color: #50666a;
  box-shadow: unset;
}

/* Formatting error page */

.btn-link {
  color: #dee6e6;
}

.btn-link:hover {
  color: #50666a;
}