/* Setting primary colours */
:root {
  --back-color: #f8f1ff;
  --primary-color: #656176;
  --header-back: #DECDF5;
  --header-text: #534d56;
  --bs-info: #656176;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}

/* Formatting header and footer */
header,
footer {
  background-color: var(--header-back);
  color: var(--header-text);
}

footer i {
  color: var(--header-text);
}

/* Formatting game page */

#game-grid,
.stopwatch-container {
  background-color: #fff;
  color: var(--primary-color);
}

.card {
  background-color: #656176;
  color: #f8f1ff;
}

.card:hover {
  background-color: #6561768c;
}

.input-cell {
  background-color: var(--header-back);
  color: var(--primary-color);
}

.form-select {
  color: var(--primary-color);
}

.form-select:focus {
  border-color: var(--primary-color);
  box-shadow: var(--header-back);
}

#level-select {
  background-color: #fff;
  color: var(--primary-color);
}

/* Pause module formatting */
.modal-header,
.modal-footer {
  background-color: var(--header-back);
  color: var(--header-text);
}

/* Formatting contact page */

#contact-wrapper {
  border: 5px solid #656176;
}

.form-control {
  background-color: #FFF;
  color: #4f6073;
}

.btn-info {
  color: #f8f1ff;
  background-color: #656176;
  border-color: #534d56;
}

.btn-info:hover,
.btn-info:focus {
  color: #f8f1ff;
  background-color: #656176;
  border-color: #534d56;
  box-shadow: unset;
}

.table {
  --bs-table-bg: var(--back-color);
  --bs-table-active-color: var(--header-text);
  --bs-table-active-bg: var(--header-bg);
  --bs-table-hover-color: var(--header-text);
  --bs-table-hover-bg: var(--header-bg);
  color: var(--primary-color);
  border-color: #dee2e6;
}

/* Formatting error page */

.btn-link {
  color: #656176;
}

.btn-link:hover {
  color: #534d56;
}