@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway&display=swap');

/* ALL PAGES */
/* Setting fonts */
body,
i {
    font-family: 'Raleway', sans-serif;
    color: #333;
}

.container-game {
    font-family: 'EB Garamond', serif;
}

/* Header formatting */

header {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 3%;
    height: 20vh;
}

header>.h1,
h1 {
    font-size: calc(2.5rem + 2.5vw);
}

.wrapper-page,
.row {
    margin: 0;
}

footer {
    padding-top: 1%;
    height: 10vh;
}

@media only screen and (max-width: 767px) {

    /* ---- Mobile ---- */
    header {
        padding-top: 7%;
        height: 15vh;
    }

    header>.h1,
    h1 {
        font-size: calc(2.25rem + 1.5vw);
    }

    footer {
        height: 10vh;
        padding-top: 5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* ---- Tablets ---- */
    header {
        padding-top: 5%;
        height: 15vh;
    }

    footer {
        padding-top: 4%;
        height: 10vh;
    }
}

@media only screen and (min-width: 1200px) {
    /* ---- Large laptops and desktops ---- */

    header {
        padding-top: 2%;
    }

    header>.h1,
    h1 {
        font-size: calc(3rem + 3vw);
    }
}

/* -------------------------------------------------- LANDING PAGE */

/* Navigation area formatting */

.wrapper-page {
    background-color: #EEE;
    height: 65vh;
}

.card {
    margin-top: 20%;
    padding-top: 25%;
    height: 45vh;
}

.fs-1 {
    font-size: calc(3rem + 2.5vw) !important;
}

.fs-2 {
    font-size: calc(2rem + 1.5vw) !important;
}

.fs-3 {
    font-size: calc(2rem + .8vw) !important;
}


@media only screen and (max-width: 767px) {

    /* ---- Mobile ---- */
    .wrapper-page {
        height: 70vh;
    }

    .card {
        margin-top: 1em;
        padding-top: .7em;
        padding-bottom: .7em;
        height: 20vh;
    }

    .fs-1 {
        font-size: calc(2rem + 1.5vw) !important;
    }

    .fs-2 {
        font-size: calc(2rem + 2vw) !important;
    }

    .fs-3 {
        font-size: calc(1.5rem + 1.5vw) !important;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* ---- Tablet ---- */
    .wrapper-page {
        height: 70vh;
    }

    .card {
        margin-top: 1em;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 20vh;
    }

    .fs-1 {
        font-size: calc(2.5rem + 2vw) !important;
    }

    .fs-2 {
        font-size: calc(2rem + 1.5vw) !important;
    }

    .fs-3 {
        font-size: calc(1.8rem + 1.5vw) !important;
    }

}

@media only screen and (min-width: 1200px) {
    /* ---- Large laptops and desktops ---- */

    .card {
        margin-top: 6em;
        padding-top: 15%;
        height: 40vh;
    }

    .fs-1 {
        font-size: 5rem !important;
    }

    .fs-2 {
        font-size: 4rem !important;
    }

    .fs-3 {
        font-size: 3rem !important;
    }

}

/* -------------------------------------------------- GAME PAGE */



  