@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Raleway&display=swap');

/* ALL PAGES */
/* Setting fonts */
body {
    font-family: 'Raleway', sans-serif;
}

.container-game {
    font-family: 'EB Garamond', serif;
}

/* Header formatting */

header {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 7vh;
    height: 20vh;
}

.wrapper-page,
.row {
    margin: 0;
}

footer {
    height: 10vh;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* ---- Tablets ---- */
    header {
        padding-top: 5vh;
        height: 15vh;
    }

    footer {
        height: 10vh;
    }
}


@media only screen and (max-width: 767px) {

    /* ---- Mobile ---- */
    header {
        padding-top: 5vh;
        height: 15vh;
    }

    footer {
        height: 10vh;
    }
}

/* -------------------------------------------------- LANDING PAGE */

/* Button / navigation area formatting */

#wrapper-page {
    background-color: #EEE;
    height: 65vh;
}

.card {
    margin-top: 20%;
    padding-top: 25%;
    height: 45vh;
}

.nav-page {
    font-size: 100px;
}

.nav-link {
    padding-top: .5em;
    font-size: 40px;
}

h2 {
    font-size: 50px;
}

button {
    margin: .5em 0;
}

@media only screen and (max-width: 767px) {

    /* ---- Mobile ---- */
    #wrapper-page {
        height: 70vh;
    }

    .card {
        margin-top: 1em;
        padding-top: .7em;
        padding-bottom: .7em;
        height: 20vh;
    }

    .nav-page {
        font-size: 30px;
    }

    .nav-link {
        padding-top: 1em;
        font-size: 25px;
    }

    h2 {
        font-size: 25px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* ---- Tablet ---- */
    #wrapper-page {
        height: 70vh;
    }

    .card {
        margin-top: 1em;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 20vh;
    }

    .nav-page {
        font-size: 55px;
    }

    .nav-link {
        padding-top: .5em;
        font-size: 40px;
    }

}

@media only screen and (min-width: 1200px) {
    /* ---- Large laptops and desktops ---- */

    .card {
        margin-top: 30%;
        padding-top: 15%;
        height: 40vh;
    }

    .nav-page {
        font-size: 150px;
    }

    .nav-link {
        padding-top: .5em;
        font-size: 70px;
    }

    h2 {
        font-size: 80px;
    }

}